@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Righteous', cursive;
}

body{
    font-family: 'Roboto', sans-serif;
}

.modal {
    display: none;
}